<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Games Created
            <button class="btn btn-warning export" type="submit" (click)="export()">
                <i class="mdi mdi-download"></i> Export
            </button>
          </h4>
         
          <hr>
          <h4 class="filter">Filters :</h4>
          <div class="filterApply">
            <form name="form" style="padding-bottom: 20px; margin-top: 20px !important;" #gameCreatedForm="ngForm">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="control-label labelhead">Keyword </label>
                    <input type="text" class="form-control keywordSaerch" name="setCommission" #keyword="ngModel"
                      placeholder="Search by game name, user name, subject, template, tags" [(ngModel)]="filter.keyword">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label labelhead">Created By</label>
                    <select name="selectCreatedBy" #selectCreatedBy="ngModel" class="filterSelected"
                    [(ngModel)]="filter.createdBy" >
                      <option value="all">All</option>
                      <option value="ROLE_ADMIN">Admin</option>
                      <option value="ROLE_USER">Non-Admin</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label labelhead"> Status </label>
                    <select name="statusSelect" #statusSelect="ngModel"  [(ngModel)]="filter.status" class="filterSelected">
                      <option value="all">All</option>
                      <option value="active">Active</option>
                      <option value="inactive">Inactive</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group" style="padding-top: 26px;">
                   
                    <button class="btn btn-warning btn-apply" type="submit" (click)="getGameTemplate()">Apply</button>
                    &nbsp;&nbsp;<button class="btn btn-light btn-reset" (click)="reSetForm()">Reset</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="table-responsive" style="padding-top: 30px;">
            <table class="table ">
                <thead>
                  <tr class="tableheading" >
                    <th>Id</th>
                    <th>Game Name <div class="ascending1"><img src="../../../../assets/images/Up.png" style="width: 9px !important; margin-bottom: 3px !important; cursor: pointer;" alt="" (click)="ascending1()">
                      <img src="../../../../assets/images/Down.png" alt="" style="width: 9px !important; cursor: pointer;"(click)="ascending2()" ></div></th>
                    <th>Subject <div class="ascending2"><img src="../../../../assets/images/Up.png" style="width: 9px !important; margin-bottom: 3px !important; cursor: pointer;" alt="" (click)="ascending3()">
                      <img src="../../../../assets/images/Down.png" alt="" style="width: 9px !important; cursor: pointer;" (click)="ascending4()"></div></th>
                    <th>Template <div class="ascending8"><img src="../../../../assets/images/Up.png" style="width: 9px !important; margin-bottom: 3px !important; cursor: pointer;" alt="" (click)="ascending5()">
                      <img src="../../../../assets/images/Down.png" alt="" style="width: 9px !important; cursor: pointer;" (click)="ascending6()"></div></th>
                    <th>Tags</th>
                    <th>Created By</th>
                    <th>Total gameplays<div class="ascending3"><img src="../../../../assets/images/Up.png" style="width: 9px !important; margin-bottom: 3px !important; cursor: pointer;" alt="" (click)="ascending7()">
                      <img src="../../../../assets/images/Down.png" alt="" style="width: 9px !important; cursor: pointer;" (click)="ascending8()"></div></th>
                    <th>Total Favorites <div class="ascending4"><img src="../../../../assets/images/Up.png" style="width: 9px !important; margin-bottom: 3px !important; cursor: pointer;" alt="" (click)="ascending9()">
                      <img src="../../../../assets/images/Down.png" alt="" style="width: 9px !important; cursor: pointer;" (click)="ascending10()"></div></th> 
                    <th>Total adds to playlists<div class="ascending5"><img src="../../../../assets/images/Up.png" style="width: 9px !important; margin-bottom: 3px !important; cursor: pointer;" alt="" (click)="ascending11()">
                      <img src="../../../../assets/images/Down.png" alt="" style="width: 9px !important; cursor: pointer;" (click)="ascending12()"></div></th> 
                    <th>No. of times flagged<div class="ascending6"><img src="../../../../assets/images/Up.png" style="width: 9px !important; margin-bottom: 3px !important; cursor: pointer;" alt="" (click)="ascending13()">
                      <img src="../../../../assets/images/Down.png" alt="" style="width: 9px !important; cursor: pointer;" (click)="ascending14()"></div></th>
                    <th>Ratings<div class="ascending7"><img src="../../../../assets/images/Up.png" style="width: 9px !important; margin-bottom: 3px !important; cursor: pointer;" alt="" (click)="ascending15()">
                      <img src="../../../../assets/images/Down.png" alt="" style="width: 9px !important; cursor: pointer;" (click)="ascending16()"></div></th> 
                    <th>Created on</th>
                    <th>status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of createdList | paginate
                    : {itemsPerPage: this.filterObj.limit, currentPage: this.filterObj.p,totalItems: copyArr }">
                    <td>{{list.id}} <img *ngIf="list.pro != false" class="proImage" src="../../../../assets/images/Pro badge.png" alt=""></td>
                          <td><a style="color: black;" href="{{list.gameUrl}}" target="_blank">{{list.gameName}}</a></td>
                          <td>{{list.subject}}</td>
                          <td>{{list.templates}}</td>
                          <td >{{list.tags}}</td>
                          <td>
                          <a  href="/user/view/{{list.userId}}" *ngIf="list.role == 'ROLE_USER'" style="color: black; text-decoration: underline;" target="_blank">{{list.createdBy}}</a>
                          <a  href="/user/view/{{list.userId}}" *ngIf="list.role == 'ROLE_ADMIN'" style="color: #FFCC00; text-decoration: underline;" target="_blank" >{{list.createdBy}}</a>
                        </td>
                          <td>{{list.gamePlays}}</td>
                          <td>{{list.favouritedGames}}</td>
                          <td>{{list.playlistGames}}</td>
                          <td>{{list.flaggedGame}}</td>
                          <td>{{list.rating}}</td>
                          <td>{{list.createdOn | date : 'medium'}}</td>
                          <td><select class="sleectStatus filterSelected" name="changeStatus"
                            (change)="gameCreatedChangeStatus(list)" #statusSelect="ngModel"
                            [(ngModel)]="list.status">
                            <option value="ACTIVE">ACTIVE</option>
                            <option value="INACTIVE">INACTIVE</option>
                        </select></td>
                          <td><a >
                            <div class="iconsChnage">
                            <div class="col-md-3">
                              <i class="mdi mdi-eye eye" (click)="openBasicModal(basicModal)"  (click)="getGameCreatedViewData(list.id)"></i>
                            </div>
                            <div class="col-md-3">
                              <i class="mdi mdi-delete deleteBtn" (click)="gameCreatedDelete(list.id)"></i>
                            </div>
                          </div>
                          </a></td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-20">
              <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>


<ng-template #basicModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Game</h5>
        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 gameCreated">
                <h6>Game Name : <span class="gameViewColor"> {{gameCreatedView}}</span></h6>
            </div>
            <div class="col-sm-12 gameCreated">
                <h6>Subject : <span class="gameViewColor">{{subject}}</span></h6>
            </div>
             <div class="col-sm-12 gameCreated">
                <h6>Template : <span class="gameViewColor">{{template}}</span></h6>
            </div>
            <div class="col-sm-12 gameCreated" *ngFor="let list of tags">
                <h6>Tags : <span class="gameViewColor">{{list.tags}}</span></h6>
            </div>
            <div class="col-sm-12 gameCreated">
                <h6>Created By : <span class="gameViewColor">{{createdBy}}</span></h6>
            </div>
            <div class="col-sm-12 gameCreated">
                <h6>Total Gameplays : <span class="gameViewColor">{{gamePlays}}</span></h6>
            </div>
            <div class="col-sm-12 gameCreated">
                <h6>Created On : <span class="gameViewColor">{{createdOn | date : 'medium'}}</span> </h6>
            </div>
            <div class="col-sm-12 gameCreated">
                <h6>Total Favorites : <span class="gameViewColor">{{favouritedGames}}</span></h6>
            </div>
            <div class="col-sm-12 gameCreated">
                <h6>Game Added In Playlists : <span class="gameViewColor">{{playlistGames}}</span></h6> 
            </div>
            <div class="col-sm-12 gameCreated">
                <h6>Avg. Ratings : <span class="gameViewColor">{{rating}}</span></h6> 
            </div>   
    </div>
    </div>
</ng-template>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#ffbd00" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
