.export2{
    float: right;
    color: white;
    padding: 10px !important;
    font-size: 22px !important;
    border-radius: 8px;
    margin-right: 20px !important;
  }
  .labelhead{
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
     
    }
hr{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
    .card-title{
        font-size: 32px !important;
        text-transform: capitalize;
      }
      .card-title1 {
        color: #000 !important;
        margin-bottom: 1.2rem !important;
        font-size: 30px !important;
        font-weight: 700 !important;
        line-height: 24px !important;
      }
     .btn i{
      font-size: 22px !important;
     }

      .table thead th {
        border-top: 0;
        border-bottom-width: 1px;
        font-weight: bold;
        font-size: 15px;
        text-transform: capitalize;
        color: #1D1D1D !important;
      }
      .table tbody td{
        font-size: 15px !important;
      }
      .table-responsive .ng-toggle-switch-core{
        background-color: #FFCC00  !important;
      }
      .tableheading{
        background-color: rgba(255, 250, 231, 1);
      }
      .card {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        -ms-box-shadow: none !important;
        border: none !important;
      }
    
      .ng-toggle-switch.true {
        background-color:#FFCC00;
      }
      .ascending2{
        display: flex;
        flex-direction: column;
        margin-left: 50px !important;
        margin-top: -15px !important;
      }
      .ascending1{
        display: flex;
        flex-direction: column;
        margin-left: 45px !important;
        margin-top: -15px !important;
      }
      .ascending3{
        display: flex;
        flex-direction: column;
        margin-left: 75px !important;
        margin-top: -15px !important;
      }
      .ascending4{
        display: flex;
        flex-direction: column;
        margin-left: 55px !important;
        margin-top: -15px !important;
      }
      .ascending5{
        display: flex;
        flex-direction: column;
        margin-left: 70px !important;
        margin-top: -15px !important;
      }
      .ascending6{
        display: flex;
        flex-direction: column;
        margin-left: 70px !important;
        margin-top: -15px !important;
      }
      .ascending7{
        display: flex;
        flex-direction: column;
        margin-left: 38px !important;
        margin-top: -15px !important;
      }
      .ascending8{
        display: flex;
        flex-direction: column;
        margin-left: 48px !important;
        margin-top: -15px !important;
      }
      .ascending9{
        display: flex;
        flex-direction: column;
        margin-left: 55px !important;
        margin-top: -15px !important;
      }
      .btn-warning{
        background-color: #FFCC00 !important;
      }
      #filterSelected{
        -webkit-appearance: none;
        appearance: none;
        background-color: #ffffff;
      }