.export2{
    float: right;
    color: white;
    padding: 10px !important;
    font-size: 22px !important;
    border-radius: 8px;
    margin-right: 20px !important;
  }
  .labelhead{
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
     
    }
hr{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.card-title{
        font-size: 32px !important;
        text-transform: capitalize;
        width: 100% !important;
      }
      .card-title{
        color: #000 !important;
        margin-bottom: 1.2rem !important;
        font-size: 30px !important;
        font-weight: 700 !important;
        line-height: 24px !important;
        
      }
     .btn i{
      font-size: 21x !important;
     }
.textarea{
  width: 100%;
  height: 450px !important;
 
}