
<h4 class="headinggame">Create A Game</h4>
<div class="col-md-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <aw-wizard #wizard [navBarLayout]="'large-filled'" class="gameDetails">
        <aw-wizard-step stepTitle="step 1" style="border-color: aqua; color: black;">
          
          <h4 class="card-title heading">Game Details</h4>
          <form class="forms-sample" #createGameForm="ngForm">
            <div class="form-group">
                <h5 for="exampleInputUsername1" class="label">Title</h5>
                <input type="text" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="Enter title of the game"
                name="titleName" #titleName="ngModel" [(ngModel)]="title"
                (ngModelChange)="onModelChange($event)"
                [attr.maxlength]="counter ? maxNumberOfCharacters : ''" required> 
                <p class="lengthClass" style="text-align: right;">{{numberOfCharacters1}} / {{maxNumberOfCharacters}}</p>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <h5 class="label">Subject</h5>
                    <select class="form-control filterSelected"  name="subjectSelect" #subjectSelect="ngModel"
                    [(ngModel)]="subjectValue" (change)="getSubjectValue($event)" required>
                      <option  selected disabled>Select Subject</option>
                      <option *ngFor="let list of subjectData; let i=index"  [ngValue]="list"> {{list.title}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <h5 class="label">Template</h5>
                    <select class="form-control filterSelected" name="TemplateSelect" #TemplateSelect="ngModel"
                    [(ngModel)]="templateValue" required>
                      <option  selected disabled>Select Template</option>
                      <option *ngFor="let item of templateData" [ngValue]="item">{{item.title}}</option>
                    </select>
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <div class="form-group">
                <h5 for="exampleInputUsername1" class="label">Tags</h5>
                <input type="text" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="Enter Tags"
                (keyup)="splitTag()" required
                name="addTag" #addTag="ngModel" [(ngModel)]="tag" >
                <p class="lengthClass" style="text-align: right;">Upto 3 tags</p>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <h5 class="label">Is This Pro Game?</h5><br>
                    <ng-toggle  [color]="{
                      unchecked: '#e0e0df',
                      checked: '#ffbd00'
                    }" name="toggle"[(ngModel)]="pro"></ng-toggle>
                  </div>
                </div><!-- Col -->
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1" class="label">Display Name</label>
                    <select class="form-control filterSelected" name="displayName" [(ngModel)]="userId" required>
                      <option selected disabled>Select Display Name</option>
                      <option *ngFor="let item of displayData;let i= index" [ngValue]="item.id">{{item.displayName}}</option>
                   
                    </select>
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
        </form>
        <br>
        <div class="buttons">
          <button type="button" class="btn btn-warning btn-lg button" awNextStep [disabled]="createGameForm.invalid || isMoreThanThreeTags()" (click)="splitTag()">Next</button>  
        </div>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="step 2">
          <h4 class="card-title heading">Educational Content</h4>
          <div class="row">
            <div class="col-sm-4">
          <form class="forms-sample" #sideAddForm="ngForm">
            <div class="form-group">
              <h4 for="exampleInputUsername1" class="labelhead">Side A <label class="text">(Character limit-50)</label></h4>
              <input type="text" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="Enter details (e.g: Term you want to learn)"
              name="sideAddA" #sideAddA="ngModel"  [(ngModel)]="sideA" (input)="checkInputLength()" required>
            </div>
            <div class="form-group">
              <h4 for="exampleInputUsername1" class="labelhead">Side B <label class="text">(Character limit-80)</label></h4>
              <input type="email" class="form-control" placeholder=" Enter details (e.g: Definition you want to learn)" name="sideAddB" 
              #sideAddB="ngModel" [(ngModel)]="sideB" required (input)="checkInputLength()">
             
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-warning btn-lg addbutton" [disabled]="disableButton" (click)="addValueArray()">Add side</button>
            </div>
            <div class="form-group">
              <h4 for="exampleInputUsername1" class="labelnotes">(Note : <label class="text">Min. 10 sides & Max.300 sides for gameplay</label>)</h4>
            </div>
                <div class="form-group">
                  <hr>
                  <h4 class="labelnotes">Or</h4>
                </div>
                <div class="form-group UploadACSV">
                 <label class="upload">Upload a CSV file for quick and easy creation</label>
                 <input  type="file" accept=".csv" (change)="readFileCsv($event)"  class="custom-file-input d-block" id="inputGroupFile" >
                </div>
                <div class="form-group uploadicon">
                  <i class="feather icon-upload uploaddata" ></i> <label for="inputGroupFile">Upload a CSV file <span class="underline"></span></label>
                 </div>
            
         
        
          </form>
          </div>
          
          <div class="col-sm-8 stretch-card">
            
              <div class="card" style="background-color: #F4F1E7;">
              <div class="card-body">
                <h4>ADDED SIDES</h4>
                <div class="row">

                  <div class="col-md-5">
                    <h4 class="side">Side A</h4>
                  </div>
                  <div class="col-md-5">
                    <h4 class="sideb">Side B</h4>
                  </div>
                </div>
                <ol class="sideAandB">
                  <li *ngFor="let list of newArray; let i=index">
                <div class="row"  >
                  <div class="col-sm-5">
                    <div class="card">
                      <div class="card-body sidesCard">
                        <p>{{ list.sideA }}</p>
                        <span *ngIf="list.sideA.length > 50" class="error-message"><i class="mdi mdi-alert-circle"></i>Over Charector limit in Side A</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card ">
                    <div class="card-body sidesCard">
                      <p>{{ list.sideB }}</p>
                      <span *ngIf="list.sideB.length > 80" class="error-message"><i class="mdi mdi-alert-circle"></i>Over Charector limit in Side B</span>
                    </div>
                  </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="dlete">
                    <i class="mdi mdi-delete" (click)="removeSide(i)"></i>
                  </div>
                  </div>
                </div>
              </li>
              </ol>
              </div>
            </div>
          </div>
          </div>
          <div class="buttons">
            <button type="button" class="btn btn-warning btn-lg button" (click)="sideLength()" [disabled]="disableButton" awNextStep>Next</button>
            <button class="btn btn-light btn-cancel backbutton" type="button" awPreviousStep>Back</button>
          </div>
        </aw-wizard-step>

        <aw-wizard-step stepTitle="finish">
          <h4 class="card-title heading">Preview</h4>
          <div class="row">
          <div class="col-md-8">
          <div class="card previewGameCard">
          <div class="row">
            <div class="col-md-6">
              <div class="content-card">
                <h5 class="card-title ">Title</h5>
                <p class="card-subtitle">{{title}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="content-card">
                <h5 class="card-title">Subject</h5>
                <p class="card-subtitle" *ngIf="subjectValue">{{subjectValue.title}}</p>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-6">
              <div class="content-card">
                <h5 class="card-title">Template</h5>
                <p class="card-subtitle" *ngIf="templateValue">{{templateValue.title}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="content-card" >
                <h5 class="card-title">Tags</h5>
                <div class="tagsList d-flex" >
                  <div class="prameter" *ngFor="let item of tags"  >
                    <p class="card-subtitle2">{{item}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 editDetailsBtn">
              <a type="button" awResetWizard>Edit Details</a> 
            </div>
          </div> 
        </div>
      
    </div>
    <div class="col-md-4">
      <!-- <div class="previewGameCard2">
        <button href="" class="btn btn-light btn-cancel button" >Preview game</button>
      </div> -->
      <div class="previewGameCard2">
        <img class="image-gif" *ngIf="templateValue?.title === 'Cognitive Connections'" src="../../../../../assets/images/Cognitive.gif" alt="Cognitive Connections GIF">
        <img class="image-gif" *ngIf="templateValue?.title === 'Brain food'" src="../../../../../assets/images/Brain.gif" alt="Brain Food GIF">
        <img class="image-gif" *ngIf="templateValue?.title === 'Use it or Lose it'" src="../../../../../assets/images/Use.gif" alt="Use it or lose it">
        <img class="image-gif" *ngIf="templateValue?.title === 'Knowledge is Power'" src="../../../../../assets/images/Knowledge.gif" alt="Knowledge is Power">
      </div>
    </div>
  </div>
          <div class="buttons">
            <button type="button" class="btn btn-warning btn-lg button" awNextStep  (click)="openBasicModal6(basicModal6)"  (click)="createGame()">Create game</button>
            <button class="btn btn-light btn-cancel backbutton" type="button" awPreviousStep>Back</button> 
          </div>
        </aw-wizard-step>
      </aw-wizard>

    </div>
  </div>
</div>
<!-- Pop Up for success message -->
<ng-template #basicModal6 let-modal>

  <div class="popup">
    <h4 class="popup-heading">Successfully created<br>an admin game</h4>
    <button type="button" class="btn btn-warning btn-lg finalButton" (click)="openBasicModal(basicModal)" (click)="addPlaylistCreate()"  (click)="modal.close('by: close button')">Add to admin playlist</button>
    <p class="orText">Or</p>
    <button type="button" class="btn btn-light btn-lg finalButton1" (click)="modal.close('by: close button')" (click)="closePopup()">Done</button>
    <!-- <button class="btn btn-warning btn-popup" (click)="closePopup()">OK</button> -->
  </div>

</ng-template>

<ng-template #basicModal let-modal>
  <div class="modal-body">
    <div class="popup">
      <form #playlistAddForm="ngForm">
      <h4 class="popup-heading">Add To Playlist</h4>
      <select class="form-control filterSelected" name="subjectSelect" #subjectSelect="ngModel"
      [(ngModel)]="playlistValue" (change)="getplayListValue($event)" required>
      <option [ngValue]="null" selected disabled>Select Playlist</option> 
        <option *ngFor="let list of playlistData; let i=index"  [ngValue]="list"> {{list.playListName}} </option>
      </select>
      <button type="button" class="btn btn-warning btn-lg finalButton"[disabled]="playlistAddForm.invalid" (click)="addGameplaylist()" (click)="openBasicModal3(basicModal4)" (click)="modal.close('by: close button')">Add to playlist</button>
      <p class="orText">Or</p>
      <button type="button" class="btn btn-light btn-lg finalButton1"(click)="openBasicModal2(basicModal2)"  (click)="modal.close('by: close button')">Create new playlist</button>
      <!-- <button class="btn btn-warning btn-popup" (click)="closePopup()">OK</button> -->
      </form>
    </div>
  </div>
</ng-template>

     <!-- create playlist view  -->
     <ng-template #basicModal4 let-modal>
      <div class="modal-body">
        <div class="popup" >
          <h4 class="popup-heading">Successfully added <br>to playlist!</h4>
          <button [routerLink]="['/playlist/view/',playlistValue.id]"
           type="button" class="btn btn-warning btn-lg finalButton"
             (click)="modal.close('by: close button')">View playlist</button>
        </div>
      </div>
    </ng-template>
    <!-- create playlist view  -->

<ng-template #basicModal2 let-modal>
 
  <div class="modal-body" *ngIf="!CreatePlay">
    <h6 class="modal-title" id="exampleModalLabel5">Create A Playlist</h6>
      <form #addplaylistForm="ngForm">
      <div class="row">
          <div class="col-sm-12 gameCreated2">
              <div class="form-group createPlayslistinput">
                <input type="text" class="form-control" name="addplaylist" id="playlisttitle" placeholder="Enter Title Of Playlist"
                [(ngModel)]="plalistName" maxlength="15" autocomplete="off" required>
          </div>
          </div>
          <div class="col-sm-12 addTag">
            <div class="form-group createPlayslistinput">
              <input type="text" class="form-control" name="addTag" id="playlisttitle" placeholder="Enter Tags" #addTag="ngModel"
              [(ngModel)]="tagsAdd"  (keyup)="checkLength(tagsAdd)" required>
            <p class="float">upto 3 tags</p>
            </div>

          </div>
          <div class="col-sm-12 proPlaylistbtn">
              <p class="proPlaylist" >Is This  A Pro Playlist? <ng-toggle class="togglebtn" [color]="{
                  unchecked: '#e0e0df',
                  checked: '#ffbd00'
                }" name="toggle"[(ngModel)]="pro" ></ng-toggle></p>
              
          </div>
      </div>
          <div class="row ">
              <div class="col-sm-12 gameCreated">
              <button type="submit" class="btn btn-warning createPlaylist" [disabled]="array.length > 3 || array.length === 0 || addplaylistForm.invalid" (click)="modal.close('by: close button')" (click)="openBasicModal4(basicModal5)" (click)=" playlistAdd()">Create a
                  playlist</button>
              </div>
          </div>
      </form>
      </div>
</ng-template>


<!-- playlist added -->


<!-- Created playlist  -->
<ng-template #basicModal5 let-modal>
  <div class="modal-body">
    <div class="popup">
      <h4 class="popup-heading">Successfully created <br> a playlist!</h4>
      <button type="button" class="btn btn-warning btn-lg finalButton"  (click)="modal.close('by: close button')" (click)="openBasicModal(basicModal)" (click)="createPlaylist()">Add to  playlist</button>
    </div>
  </div>
</ng-template>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#ffbd00" type="ball-clip-rotate-multiple"
[fullScreen]="true">
<p style="color: white"> Loading... </p>
</ngx-spinner>